@use "variables" as *;
@use "extends" as *;
.btn-success {
    @extend %buttons;
    background: green;
}

.btn-danger {
    @extend %buttons;
    background: red;
}

.btn-warning {
    @extend %buttons;
    background: yellow;
}