header {
  background: green;
  font-size: 20px;
  color: orange;
}

section {
  background: red;
}

footer {
  background: blue;
}

.nav {
  background: #333;
  height: 70px;
  width: 100%;
}
.nav__ul {
  list-style: none;
}
.nav__ul__li {
  display: block;
}
.nav__ul__li__a {
  text-decoration: none;
  color: #fff;
}
