.btn-success, .btn-danger, .btn-warning {
  display: inline-block;
  padding: 12px 17px;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-success {
  background: green;
}

.btn-danger {
  background: red;
}

.btn-warning {
  background: yellow;
}

section {
  background: red;
}

footer {
  background: blue;
}

.nav {
  background: #333;
  height: 70px;
  width: 100%;
}
.nav__ul {
  list-style: none;
}
.nav__ul__li {
  display: block;
}
.nav__ul__li__a {
  text-decoration: none;
  color: #fff;
}
